/**
 * @file Mixins.
 */

@mixin clearfix {
  &:before, &:after {
    content: "";
  }
  &:after {
    display: table;
    clear: both;
  }
}

// Returns a color from $colors.
@function color($color, $colors:()) {
  @if not not index("string" "color", $color) {
    @error "#{$color} value is not valid, should be string or color.";
  }
  @else if not map-has-key($colors, $color) {
    @if type-of($color) == "color" {
      @return $color;
    }
    @else {
      @error "#{$color} not found in $colors.";
    }
  }
  @return map-get($colors, $color);
}
