---
layout: default
title: Home
front: true
page-class: page--front
permalink: /
---

<section class="section section--dark section--intro">
  <div class="container container--full">
    <article class="intro">
      <h1 class="intro--title">Hi, I am <span>Sanjay.</span></h1>
      <h3 class="intro--details">I'm a front-end & drupal developer working at <a title="Srijan Tech. Pvt. Ltd." href="http://srijan.net">Srijan</a>.</h3>
    </article>
  </div>
</section>
<section class="section section--tools">
  <div class="container">
    <h2 class="section__header">What I Do?</h2>
    <ul class="nl tools--main">
      <li class="section__list-item" data-tooltip="HTML5"><img src="assets/logo-html.png" alt="HTML5"></li>
      <li class="section__list-item" data-tooltip="Sass"><img src="assets/logo-sass.png" alt="Sass"></li>
      <li class="section__list-item" data-tooltip="Drupal"><img src="assets/logo-drupal.png" alt="Drupal"></li>
    </ul>
    <ul class="nl tools--others">
      <li class="section__list-item" data-tooltip="Angularjs"><img src="assets/logo-angular.png" alt="Angular"></li>
      <li class="section__list-item" data-tooltip="Mongo DB"><img src="assets/logo-mongodb.png" alt="Mongo DB"></li>
      <li class="section__list-item" data-tooltip="Socket.iojs"><img src="assets/logo-socketio.svg" alt="Socket.io"></li>
      <li class="section__list-item" data-tooltip="jQuery"><img src="assets/logo-jquery.png" alt="jQuery"></li>
      <li class="section__list-item" data-tooltip="@TODO"><img src="assets/logo-todo.png" alt="@TODO"></li>
      <li class="section__list-item" data-tooltip="RWD"><img src="assets/logo-rwd.png" alt="Responsive Web Design"></li>
    </ul>
  </div>
</section>
<!-- <section class="section section--services">
  <div class="container">
  </div>
</section> -->
<section class="section section--fancy section--code">
  <div class="container">
    <h2 class="section__header">Code Snippet</h2>
    <ul class="nl">
      <li class="section__list-item"><a title="{crazy: rohila}" class="code-list-link" href="http://codepen.io/crazyrohila">Codepen</a></li>
      <li class="section__list-item"><a title="<?php $crazyrohila; ?>" class="code-list-link" href="https://www.drupal.org/u/crazyrohila">Drupal</a></li>
      <li class="section__list-item"><a title="<crazyrohila>" class="code-list-link" href="https://github.com/crazyrohila">Github</a></li>
      <li class="section__list-item"><a title="$(crazyrohila);" class="code-list-link" href="http://jsfiddle.net/user/crazyrohila">Jsfiddle</a></li>
    </ul>
  </div>
</section>
<section class="section section--light section--blog-n-social">
  <div class="container">
    <div class="section--blog section--half">
      <h2 class="section__header"><a title="Articles" href="/articles/">Articles</a></h2>
      {% include articles-list.html %}
    </div>
    <div class="section--social section--half">
      <h2 class="section__header">Reach me at</h2>
      {% include footer.html %}
    </div>
  </div>
</section>


