<ul class="nl social-links">
  <li class="social-item"><a class="social-link social-link--twitter" href="https://twitter.com/crazyrohila"><i class="icon-twitter"></i></a></li>
  <!-- <li class="social-item"><a class="social-link social-link--stack-overflow" href="http://stackoverflow.com/users/2160647/crazyrohila"><i class="icon-stack-overflow"></i></a></li> -->
  <li class="social-item"><a class="social-link social-link--google" href="mailto:sanjay6191@gmail.com?subject=Hi!"><i class="icon-at"></i></a></li>
  <li class="social-item"><a class="social-link social-link--github" href="http://github.com/crazyrohila"><i class="icon-github-alt"></i></a></li>
  {% if page.front == true %}
    <li class="social-item"><a class="social-link social-link--linkedin" href="https://in.linkedin.com/in/crazyrohila"><i class="icon-linkedin"></i></a></li>
  {% endif %}

  {% if page.front != true %}
    <li class="social-item"><a class="social-link social-link--drupal" href="https://www.drupal.org/u/crazyrohila"><i class="icon-drupal"></i></a></li>
    <li class="social-item"><a class="social-link social-link--codepen" href="http://codepen.io/crazyrohila"><i class="icon-codepen"></i></a></li>
  {% endif %}
</ul>
