<ul class="nl social-links">
  <li class="social-item"><a title="@crazyrohila" class="social-link social-link--twitter" href="https://twitter.com/crazyrohila"><i class="icon-twitter"></i><span class="visualy-hidden">Crazyrohila at Twitter</span></a></li>
  <!-- <li class="social-item"><a class="social-link social-link--stack-overflow" href="http://stackoverflow.com/users/2160647/crazyrohila"><i class="icon-stack-overflow"></i></a></li> -->
  <li class="social-item"><a title="sanjay6191@gmail.com" class="social-link social-link--google" href="mailto:sanjay6191@gmail.com?subject=Hi!"><i class="icon-at"></i><span class="visualy-hidden">Crazyrohila at Mail</span></a></li>
  <li class="social-item"><a title="<crazyrohila>" class="social-link social-link--github" href="http://github.com/crazyrohila"><i class="icon-github-alt"></i><span class="visualy-hidden">Crazyrohila at Github</span></a></li>
  {% if page.front == true %}
    <li class="social-item"><a title="[Sanjay Rohila]" class="social-link social-link--linkedin" href="https://in.linkedin.com/in/crazyrohila"><i class="icon-linkedin"></i><span class="visualy-hidden">Crazyrohila at Linkedin</span></a></li>
  {% endif %}

  {% if page.front != true %}
    <li class="social-item"><a title="<?php $crazyrohila; ?>" class="social-link social-link--drupal" href="https://www.drupal.org/u/crazyrohila"><i class="icon-drupal"></i><span class="visualy-hidden">Crazyrohila at Drupal</span></a></li>
    <li class="social-item"><a title="{crazy: rohila}" class="social-link social-link--codepen" href="http://codepen.io/crazyrohila"><i class="icon-codepen"></i><span class="visualy-hidden">Crazyrohila at Codepen</span></a></li>
  {% endif %}
</ul>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
