<header class="header">
  <div class="container">
    <a title="Home" class="logo" href="{{ site.baseurl }}/">$₹</a>
    {% if page.front == true %}
      <div class="header__branding">
        <div class="certs">
          <a title="Acquia Certified Drupal Developer" href="http://training.acquia.com/registry?field_first_name_value=Sanjay&field_last_name_value=Rohila&city=&country=All&field_exam_tid=All" target="_blank">
            <span><img src="/assets/cert-drupal.png"></span>
            <span><img src="/assets/cert-frontend.png"></span>
          </a>
        </div>
      </div>
    {% endif %}
    <nav class="nav nav--main">
      <ul class="menu">
        {% for item in site.navigation %}
            {% assign class = nil %}
            {% if page.url contains item.url %}
                {% assign class = 'is-active' %}
            {% endif %}
            <li class="menu__item">
              <a title="{{ item.title }}" href="{{ item.url }}" class="menu__link {{ class }}">
                {{ item.text }}
              </a>
            </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
