/**
 * Articles list page
 */

.page--articles {
  hr {
    margin: 3rem 0 2rem;
  }
}

.articles {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  // .article__date {
  //   float: right;
  // }
  .meta {
    float: right;

    display: none;
    @include respond-to('small') {
      display: inline;
    }
  }
}

.section--blog {
  .articles {
    padding: 0;
    @include respond-to('small') {
      padding: 0 2rem;
    }
  }
}

.article__list {
  padding: 0;
  border-bottom: 1px solid lighten($gray, 10%);
  &:nth-last-child(1) {
    border-bottom: 0;
  }
}

.article__link {
  display: block;
  padding: .6rem 0;
  border-bottom: 2px solid;
  color: $dark-blue;
  text-decoration: none;
  &:hover, &:focus {
    color: $sky-blue;
    border-bottom: 2px solid $sky-blue;
  }
}

.article__date {
  color: darken($gray, 20%);
}

.external.external {
  display: none;

  color: darken($gray, 20%);
  line-height: 1.5rem;
  margin-right: .8rem;
  [target="_blank"] & {
    display: inline;
  }
}

.pager {
  margin: 1rem 0;
}
.pager__link {
  text-decoration: none;
  color: $sky-blue;
  &:hover, &:focus {
    text-decoration: underline;
  }
}
