html, body {
  width: 100%;
  height: 100%;
}

a, a:hover, a:focus {
  outline: 0;
}

.page {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
}

.mailme, .mailme:hover, .mailme:focus {
  padding: 0 3px 1px;
  background: $fav;
  color: $white;
  text-decoration: none;
}

@media (max-width: 660px) {
  .page {
    padding: 10px 15px;
  }
}
