/**
 * @file Navigations.
 */

.menu {
  @extend .nl;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu__item {
  display: inline-block;
  display: flex;
  padding: .5rem 1rem;
}

.menu__link {
  color: $menu-link-color;
  text-decoration: none;
  &:hover, &:focus, &:active, &.is-active {
    border-bottom: 5px solid $menu-link-color;
  }
}
