/**
 * Tools section
 */

@include respond-to('medium') {
  [class*="tools--"] {
    float: left;
    width: 50%;
  }
}

@include respond-to('small-only') {
  [data-tooltip] {
    float: left;
    padding: .5rem .8rem;
    width: 33%;
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}
