/**
 * @file Section code
 */
.section--code {
  a {
    @include adjust-font-size-to(1.5rem);
    display: block;
    padding: .5rem .8rem;
    color: $code-box-fill;
    text-decoration: none;
    border: 1px solid $code-box-fill;
    &:hover, &:focus {
      background: $code-box-fill;
      color: $code-box-fill-color;
    }
    @include respond-to('small') {
      @include adjust-font-size-to(2rem);
      padding: 1rem 2rem;
    }
  }
  .section__list-item {
    padding-left: 0;
    float: left;
    width: 50%;
    text-align: center;
    @include respond-to('medium') {
      float: none;
      width: auto;
      text-align: auto;
    }
    @include respond-to('small') {
      padding-left: 2rem;
    }
  }
}
