/**
 * Social section on front page
 */

$social-sites: (
  'twitter',
  'facebook',
  'linkedin',
  'google',
  'stack-overflow',
  'drupal',
  'codepen',
  'github'
);

.social-item {
  display: inline-block;
}

.social-link {
  // @include adjust-font-size-to(2rem);
  display: block;
  text-decoration: none;
  text-align: center;
}
@each $social in $social-sites {
  .social-link--#{$social} {
    color: color($social, $social-colors);
    &:hover, &:focus {
      color: darken(color($social, $social-colors), 10%);
    }
  }
}

.section--social {
  .social-links {
    padding: 0 2rem;
    @media (max-width: 30em) {
      padding: 0;
    }
  }
  .social-link {
    // @include adjust-font-size-to(2rem);
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    line-height: 3.5rem;
  }
  @each $social in $social-sites {
    .social-link--#{$social} {
      border: 5px solid color($social, $social-colors);
      &:hover, &:focus {
        background: color($social, $social-colors);
        color: $white;
      }
    }
  }
}

.social-links-wrapper {
  margin-bottom: 2rem;
  text-align: center;
  .social-link {
    padding: 0 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
