/**
 * Section for frontpage
 */

.section--light {
  background-color: $section-light-bg;
}

.section--dark {
  background-color: $section-dark-bg;
}

.section--fancy {
  background-color: $section-fancy;
  .section__header {
    color: $white;
  }
}

.section__header {
  @include adjust-font-size-to(2rem);
  padding: 0;
  margin: 1rem 0 .5rem;
  color: $section-heading-color;
  font-weight: normal;
  @include respond-to('small') {
    padding: 0 2rem;
  }
  a {
    color: $section-heading-color;
    text-decoration: none;
    @include respond-to('large') {
      &:hover, &:focus {
        border-bottom: 2px solid;
      }
    }
  }
}

.section__list-item {
  display: inline-block;
  padding: 1rem 2rem;
}
