/**
 * @file Intro section
 */
.section--intro {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  max-height: 500px;
  background-image: image-url("intro-smaller.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 20%;
  @include respond-to('small') {
    background-image: image-url("intro-small.jpg");
  }
  @include respond-to('medium') {
    background-image: image-url("intro.jpg");
  }
  @include respond-to('large') {
    background-image: image-url("intro-large.jpg");
    background-attachment: fixed;
  }
}

.intro {
  max-width: 580px;
  max-width: 36.25rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  color: $intro-color;
  flex: 1;
  a {
    color: $base-color;
  }
}

.intro--details {
  font-weight: normal;
}
