---
layout: default
page-class: page--article
permalink: /articles/:title
---

<div class="container">
  <h1 class="page__title">{{ page.title }}</h1>
  <article class="article">
    <p class="meta article__date">{{ page.date | date_to_string }}</p>

    <div class="article__body">
      {{ content }}
    </div>
  </article>
  <div class="article-actions">
    <a title="Tweet Article" href="https://twitter.com/share" class="twitter-share-button article-tweet" data-via="crazyrohila" data-size="small" data-count="none">Tweet</a>
  </div>
  <hr></hr>
  <div class="social-links-wrapper">
    <a title="Follow @crazyrohila on Twitter" href="https://twitter.com/crazyrohila" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @crazyrohila</a>
    {% include footer.html %}
  </div>
</div>
